.loading-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Updated CSS for round buttons and navigation bar at the top */
.round-button-navigationbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  border: 1px solid #ddd;
}

/* Adjust the position and size of round buttons */
.round-button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Add some spacing between buttons */
  cursor: pointer;
  transition: transform 0.3s ease;

  /* Add styles for active buttons */
  &.active-round-button {
    background-color: hsl(59, 57%, 49%);
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  /* Hover effect */
  &:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
  }
}

/* Styles for round button image containers */
.round-button-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
}

/* Styles for round button images */
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Add space between pagination and footer */
}

/* Pagination buttons */
.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 25px; /* Makes buttons round */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Active page button */
.pagination button.active {
  background-color: #0056b3;
}

/* Hover effect */
.pagination button:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Enlarges button on hover */
}

/* Disabled page button */
.pagination button:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */

  /* Example: Reduce the size of round buttons and pagination buttons */
  .round-button {
    width: 50px;
    height: 50px;
  }

  .round-button-img-container {
    width: 45px;
    height: 45px;
  }

  .pagination button {
    padding: 8px 12px;
  }

  .logo {
    width: 70px;
    height: 70px;
  }
  .round-button-img-container:hover {
    background-color: rgb(255, 255, 255);
  }
}
