.loading-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.round-button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  align-items: center;
  position: relative; /* Add this for absolute positioning of the image */
}

.round-button-img-container:hover {
  background-color: rgb(117, 124, 218);
}

.round-button-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  text-align: center;
  margin: auto;
}
.round-button-navigationbar {
  display: flex;
  background-color: #fdfdfd;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
  border-color: black;
}
.active-round-button {
  background-color: #0080ff;
  border-radius: 50%;
}
.round-button:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  transition: transform 0.2s ease;
}
.logo {
  width: 50px; /* Adjust the logo width as needed */
  height: 50px; /* Adjust the logo height as needed */
  border-radius: 50%; /* Make it a round logo */
}

/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Add space between pagination and footer */
}

/* Pagination buttons */
.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 25px; /* Makes buttons round */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Active page button */
.pagination button.active {
  background-color: #0056b3;
}

/* Hover effect */
.pagination button:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Enlarges button on hover */
}

/* Disabled page button */
.pagination button:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
}
